<head>
  <title>Startup Landing Page</title>
</head>
<body>

  <% if user_signed_in? %>
    <section class="section start">
      <div class="container">
        <div id="content">
          <h1>Welcome to<br />LiliXia | 粒粒侠</h1>
          <h3>LiliXia is an app that helps restaurants use their resources<br />wisely and promote discounts on the site.<br /> <br />Connect to foodies with LiliXia and reduce food-waste</h3>
          <hr />
          <% if user_signed_in? %>
          <% else %>
            <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-warning"%>
          <% end %>
        </div>
      </div>
    </section>

  <% else %>
    <main class ="wrapper">
      <section class="section parallax bg1">
        <div class="container">
          <div id="content">
            <h1>Welcome to<br />LiliXia | 粒粒侠</h1>
            <h3>LiliXia is an app that helps restaurants use their resources<br />wisely and promote discounts on their site.<br /> <br />Connect to foodies with LiliXia and reduce food-waste</h3>
            <hr />
            <% if user_signed_in? %>
            <% else %>
              <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "btn btn-warning"%>
            <% end %>
            <%= image_tag("lilixia-qrcode") %>
          </div>
        </div>
      </section>

      <section class="section static">
        <div class="about-us">
          <div class="about-info col-xs-12 col-sm-4">
            <%= image_tag("bowl.png", {class: "about-img"}) %>
            <!--       <img src="/assets/images/bowl.png" style="float:left;width:42px;height:42px;">  -->
            <h2>
              LiliXia is an app that helps restaurants to shed their excess inventory by allowing them to offer discounts on our platform of food that would otherwise be disposed of.
            </h2>
          </div>
          <div class="about-info col-xs-12 col-sm-4">
            <%= image_tag("post", {class: "about-img"}) %>
            <h2>
              The app is designed to offer restaurants the flexibility to post their own promotions of whatever excess food they have in stock in addition to setting the price they wish for the product.
            </h2>
          </div>
          <div class="about-info col-xs-12 col-sm-4">
            <%= image_tag("location", {class: "about-img"}) %>
            <h2>
              Customers will see the location of the restaurant and can claim their product by clicking on it.
            </h2>
          </div>
        </div>
      </section>

      <section class="section parallax bg2">
        <h2 class="address">Contact Information: 819 Wujian Lu, 3rd Floor, <br>Shanghai, China
        <br>Phone Number: +86 18817373070
        <br>email: info@lilixia.com</h2>
      </section>
    </main>
  <% end %>

  <!-- SCRIPTS
  BOOTSTRAP ALWAYS NEEDS JQUERY RAN FIRST -->
  <script src="https://code.jquery.com/jquery-2.1.4.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>



