<h1>Restaurant: <%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.cuisine %></p>
  <p><%= link_to "Edit restaurant", edit_restaurant_path %></p>
  <p><%= link_to "Go back", restaurants_path %></p>

